<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="300 seconds">

    <property name="LOG_PATH" value="./logs"/>

    <property name="CONSOLE_LOG_PATTERN" value="%date{yyyy-MM-dd HH:mm:ss} | %highlight(%-5level) | %boldYellow(%thread) | %boldGreen(%logger.%method) | %highlight(%msg%n)"/>
    <property name="FILE_PATTERN" value="%date{yyyy-MM-dd HH:mm:ss} | %-1level | %thread | %logger.%method | %msg%n"/>


    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder charset="UTF8">
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </layout>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>

    </appender>

    <appender name="log-console" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/1809-%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <maxHistory>10</maxHistory>
            <maxFileSize>100MB</maxFileSize>
        </rollingPolicy>
        <append>true</append>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>${FILE_PATTERN}</pattern>
        </layout>
    </appender>

    <appender name="async-log-console" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>256</queueSize>
        <appender-ref ref="log-console"/>
    </appender>

	<root level="ALL">
        <appender-ref ref="console" />
		<appender-ref ref="async-log-console" />
	</root>

</configuration>